In [5]:
import pandas as pd
import numpy as np
import os
import requests

## Sprawdzanie po trans_formed

In [167]:
import os
os.getcwd()

'c:\\Users\\Tomek\\Desktop\\PW MINI IAD\\Semestr 6\\Hurtownie\\ChicagoCrashesETL'

In [218]:
fact_crash = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/fact_crash.pkl')
dim_vehicles = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_vehicle.pkl')
dim_crash_info = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_crash_info.pkl')
fact_weather = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/fact_weather.pkl')
dim_people = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_people.pkl')
dim_date = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_date.pkl')
dim_location = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_location.pkl')

In [222]:
dim_vehicles

,CRASH_UNIT_ID,CRASH_RECORD_ID,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,MAKE,MODEL,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT,VEHICLE_KEY
0,1028096,231f7ec818ff8185398af7f7582cc58537d39578c5b279...,DRIVER,-1,974416.0,VOLKSWAGEN,GOLF,-1,NONE,PASSENGER,PERSONAL,SE,STRAIGHT AHEAD,2,OTHER,2477872752993319921
1,1081609,7a51c2f12016df66284d0f660c59c4536b34d63506242b...,DRIVER,-1,1025789.0,JEEP,UKNOWN,2015,UNKNOWN,PASSENGER,PERSONAL,UNKNOWN,TURNING RIGHT,2,OTHER,13315789630448195306
2,1081610,7a51c2f12016df66284d0f660c59c4536b34d63506242b...,DRIVER,-1,1025790.0,HONDA,CIVIC,2017,NONE,PASSENGER,PERSONAL,UNKNOWN,TURNING RIGHT,2,REAR-LEFT,7338186764480988670
3,1094496,5a3aeb04f20bfd350010ca025ad319d7e88eb869875ce9...,DRIVER,-1,1038110.0,HONDA,CONSTRUCTION EQUIPMENT,-1,UNKNOWN,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,2,NONE,2650920976286708066
4,1094497,5a3aeb04f20bfd350010ca025ad319d7e88eb869875ce9...,DRIVER,-1,1038111.0,NISSAN,TRUCK,-1,NONE,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,2,REAR-LEFT,6639772388861697493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240195,1763625,a25e16e62c1e0fd167e184275dfc9a3fe5c02f3d165218...,DRIVER,-1,1679291.0,HONDA,ACCORD,2007,NONE,PASSENGER,PERSONAL,S,BACKING,2,REAR,12526728407230063458
240196,1763626,a25e16e62c1e0fd167e184275dfc9a3fe5c02f3d165218...,DRIVER,1,1679292.0,LEXUS,RX350,2019,NONE,SPORT UTILITY VEHICLE (SUV),PERSONAL,N,BACKING,3,REAR,14760302197810069370
240197,2012713,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,PARKED,-1,1918147.0,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),-1,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,UNKNOWN,PARKED,1,UNKNOWN,13960312683645349882
240198,797065,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,DRIVER,-1,NaN,UKNOWN,UKNOWN,-1,UKNOWN,UKNOWN,UKNOWN,UKNOWN,UKNOWN,0,UKNOWN,813527030893302580
240199,797066,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,PARKED,-1,756882.0,FORD,FUSION,2010,NONE,PASSENGER,POLICE,S,PARKED,1,ROOF,8761825163123477914

In [220]:
dim_date.info()
dim_date["full_date"] = pd.to_datetime(dim_date["full_date"])
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52608 entries, 0 to 52607
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_id       52608 non-null  int64
 1   full_date     52608 non-null  datetime64[ns]
 2   hour          52608 non-null  int64
 3   year          52608 non-null  int64
 4   quarter       52608 non-null  int64
 5   month         52608 non-null  int64
 6   month_name    52608 non-null  object
 7   day_of_month  52608 non-null  int64
 8   day_of_week   52608 non-null  int64
 9   day_name      52608 non-null  object
 10  is_weekend    52608 non-null  bool
 11  week_of_year  52608 non-null  int64
 12  is_holiday    52608 non-null  bool
 13  holiday_name  52608 non-null  object
dtypes: bool(2), datetime64[ns](1), int64(8), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52608 entries, 0 to 52607
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_id       52608 non-null  int64
 1   full_date     52608 non-null  datetime64[ns]
 2   hour          52608 non-null  int64
 3   year          52608 non-null  int64
 4   quarter       52608 non-null  int64
 5   month         52608 non-null  int64
 6   month_name    52608 non-null  object
 7   day_of_month  52608 non-null  int64
 8   day_of_week   52608 non-null  int64
 9   day_name      52608 non-null  object
 10  is_weekend    52608 non-null  bool
 11  week_of_year  52608 non-null  int64
 12  is_holiday    52608 non-null  bool
 13  holiday_name  52608 non-null  object
dtypes: bool(2), datetime64[ns](1), int64(8), object(3)
memory usage: 4.9+ MB

In [199]:
dim_date

,date_id,full_date,hour,year,quarter,month,month_name,day_of_month,day_of_week,day_name,is_weekend,week_of_year,is_holiday,holiday_name
0,2016010100,2016-01-01 00:00:00,0,2016,1,1,January,1,5,Friday,False,53,True,New Year's Day
1,2016010101,2016-01-01 01:00:00,1,2016,1,1,January,1,5,Friday,False,53,True,New Year's Day
2,2016010102,2016-01-01 02:00:00,2,2016,1,1,January,1,5,Friday,False,53,True,New Year's Day
3,2016010103,2016-01-01 03:00:00,3,2016,1,1,January,1,5,Friday,False,53,True,New Year's Day
4,2016010104,2016-01-01 04:00:00,4,2016,1,1,January,1,5,Friday,False,53,True,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52603,2021123119,2021-12-31 19:00:00,19,2021,4,12,December,31,5,Friday,False,52,True,New Year's Day (observed)
52604,2021123120,2021-12-31 20:00:00,20,2021,4,12,December,31,5,Friday,False,52,True,New Year's Day (observed)
52605,2021123121,2021-12-31 21:00:00,21,2021,4,12,December,31,5,Friday,False,52,True,New Year's Day (observed)
52606,2021123122,2021-12-31 22:00:00,22,2021,4,12,December,31,5,Friday,False,52,True,New Year's Day (observed)
52607,2021123123,2021-12-31 23:00:00,23,2021,4,12,December,31,5,Friday,False,52,True,New Year's Day (observed)

In [200]:
dim_vehicles

,CRASH_UNIT_ID,CRASH_RECORD_ID,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,MAKE,MODEL,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT,VEHICLE_KEY
0,1028096,231f7ec818ff8185398af7f7582cc58537d39578c5b279...,DRIVER,-1,974416.0,VOLKSWAGEN,GOLF,-1,NONE,PASSENGER,PERSONAL,SE,STRAIGHT AHEAD,2,OTHER,2477872752993319921
1,1081609,7a51c2f12016df66284d0f660c59c4536b34d63506242b...,DRIVER,-1,1025789.0,JEEP,UKNOWN,2015,UNKNOWN,PASSENGER,PERSONAL,UNKNOWN,TURNING RIGHT,2,OTHER,13315789630448195306
2,1081610,7a51c2f12016df66284d0f660c59c4536b34d63506242b...,DRIVER,-1,1025790.0,HONDA,CIVIC,2017,NONE,PASSENGER,PERSONAL,UNKNOWN,TURNING RIGHT,2,REAR-LEFT,7338186764480988670
3,1094496,5a3aeb04f20bfd350010ca025ad319d7e88eb869875ce9...,DRIVER,-1,1038110.0,HONDA,CONSTRUCTION EQUIPMENT,-1,UNKNOWN,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,2,NONE,2650920976286708066
4,1094497,5a3aeb04f20bfd350010ca025ad319d7e88eb869875ce9...,DRIVER,-1,1038111.0,NISSAN,TRUCK,-1,NONE,PASSENGER,PERSONAL,N,STRAIGHT AHEAD,2,REAR-LEFT,6639772388861697493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240195,1763625,a25e16e62c1e0fd167e184275dfc9a3fe5c02f3d165218...,DRIVER,-1,1679291.0,HONDA,ACCORD,2007,NONE,PASSENGER,PERSONAL,S,BACKING,2,REAR,12526728407230063458
240196,1763626,a25e16e62c1e0fd167e184275dfc9a3fe5c02f3d165218...,DRIVER,1,1679292.0,LEXUS,RX350,2019,NONE,SPORT UTILITY VEHICLE (SUV),PERSONAL,N,BACKING,3,REAR,14760302197810069370
240197,2012713,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,PARKED,-1,1918147.0,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),-1,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,UNKNOWN,PARKED,1,UNKNOWN,13960312683645349882
240198,797065,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,DRIVER,-1,NaN,UKNOWN,UKNOWN,-1,UKNOWN,UKNOWN,UKNOWN,UKNOWN,UKNOWN,0,UKNOWN,813527030893302580
240199,797066,c1c1c5b94ccf8767e419d2dd6badbc6f0d2ea1ff4224a6...,PARKED,-1,756882.0,FORD,FUSION,2010,NONE,PASSENGER,POLICE,S,PARKED,1,ROOF,8761825163123477914

In [205]:
fact_weather

,datetime,date_id,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,conditions
0,2017-01-01 00:00:00,2017010100,-3.6,-7.1,-7.1,76.430000,0.0,0,NONE,0.0,...,0.0,8.5,SW,1016.099976,0.000000,16.0,0.0,0.0,-1,Clear
1,2017-01-01 01:00:00,2017010101,-4.2,-7.0,-7.7,77.150002,0.0,0,NONE,0.0,...,0.0,6.1,SW,1016.599976,0.000000,16.0,0.0,0.0,-1,Clear
2,2017-01-01 02:00:00,2017010102,-4.6,-4.6,-8.0,77.550003,0.0,0,NONE,0.0,...,0.0,0.0,N,1017.200012,0.000000,16.0,0.0,0.0,-1,Clear
3,2017-01-01 03:00:00,2017010103,-4.7,-8.0,-7.5,80.809998,0.0,0,NONE,0.0,...,0.0,7.3,S,1017.900024,0.000000,15.8,0.0,0.0,-1,Clear
4,2017-01-01 04:00:00,2017010104,-5.3,-9.7,-8.2,80.400002,0.0,0,NONE,0.0,...,0.0,10.1,S,1018.299988,18.000000,15.1,0.0,0.0,-1,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33594,2020-12-31 19:00:00,2020123119,-4.0,-4.0,-7.9,74.339996,0.0,0,NONE,0.0,...,0.0,1.9,NW,1028.900024,88.099998,13.6,0.0,0.0,0,Partially cloudy
33595,2020-12-31 20:00:00,2020123120,-4.0,-6.6,-7.9,74.029999,0.0,0,NONE,0.0,...,0.0,6.1,E,1028.800049,80.900002,13.5,0.0,0.0,0,Partially cloudy
33596,2020-12-31 21:00:00,2020123121,-4.4,-7.0,-8.1,75.400002,0.0,0,NONE,0.0,...,0.0,5.9,NE,1028.699951,44.000000,14.4,0.0,0.0,0,Partially cloudy
33597,2020-12-31 22:00:00,2020123122,-4.4,-4.4,-7.8,77.199997,0.0,0,NONE,0.0,...,0.0,0.0,N,1028.699951,58.900002,12.6,0.0,0.0,0,Partially cloudy
33598,2020-12-31 23:00:00,2020123123,-4.1,-4.1,-7.8,75.370003,0.0,0,NONE,0.0,...,0.0,0.0,N,1028.800049,90.300003,13.9,0.0,0.0,0,Overcast

In [9]:
fact_crash = pd.read_pickle("/Users/julia/Desktop/semestr-6/magazyny/ChicagoCrashesETL/airflow-postgres-docker/data/tmp/transformed/fact_crash.pkl")

In [12]:
fact_crash.head(20)

,FACT_CRASH_KEY,CRASH_RECORD_ID,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,date_id
0,102052558975241319,032ca7e09951de4385eec78a50a5f9f33b217838578b29...,3,0,0,0,0,0,1,0,2020010100
1,2989301628946909366,71065ad347ee197080534e112b27c8a5b6fb8d9bbde2c3...,1,2,0,0,2,0,1,0,2020010100
2,15759330137532455643,9c2724305c03bf461d72cbcf2879c96b86ed5e180b62be...,1,-1,-1,-1,-1,-1,-1,-1,2020010100
3,18411092908018610329,3187e5839fab7ff654383ba44a2e5b430c856b3fa10dab...,4,0,0,0,0,0,7,0,2020010100
4,18009739063765005411,449bc7511dba6e6d605411276dc08dbeeccff39b074db0...,2,0,0,0,0,0,1,0,2020010100
5,17528604748918565077,6792e30369a62483f115d4900c9225b17fdca2dc3547f6...,2,0,0,0,0,0,3,0,2020010100
6,4101458230553004886,2cf6f0a893d1cb9f1a0bba9435cd9e1938e2b0a278ffb3...,2,0,0,0,0,0,2,0,2020010100
7,7758129516194055061,9c2ddefdd8c9c409db174e219b0511db3a4c06490e1bcc...,2,0,0,0,0,0,3,0,2020010100
8,14024785583040875057,d100ea227bccd86263d7cbdc1550b24ed1955cffa085ca...,1,0,0,0,0,0,1,0,2020010100
9,16431909946148874362,b73c19ba7e38f0e966410bea19ea5d2d2b75f72b8f2529...,3,0,0,0,0,0,1,0,2020010100
10,2751308787755662199,d01709d991845bdf590874f0a937c405b67555584be8a0...,2,0,0,0,0,0,2,0,2020010100
11,4863146986898939337,8af9709b87d2282a4eb2430962075570b29f5a446a7e04...,3,0,0,0,0,0,1,0,2019123123
12,15078235342714905284,c01ea0ae8375a49f76608e86977fa5e53df019bd294f15...,3,0,0,0,0,0,4,0,2019123123
13,2166950989437704595,9fb50dd9a60695389b5839ffe32b80dfe0867e67a5342d...,2,0,0,0,0,0,2,0,2019123123
14,11774457351460951675,187705d22a7f11e7ae3190e863a409bcf5029c9708103b...,2,0,0,0,0,0,4,0,2019123123
15,15368958662485443282,bd9a76dfd75b27c33711b030c03a18f9e33bc1010fea7c...,2,1,0,0,1,0,1,0,2019123123
16,6674205464899861443,c2beebd961a7011bf9a1300a845dd015b0da03af24cdf5...,2,0,0,0,0,0,2,0,2019123123
17,17059432655583899776,30d298b5d55c8f30e53e4896e1cee7cac83daad2f059ff...,2,0,0,0,0,0,2,0,2019123123
18,17316497749524454966,5852d22f4cedc22e391b1b2b6744a72c2cf5ff61a771e7...,2,0,0,0,0,0,1,0,2019123123
19,13118265405185511195,8affcdd5d8adadddc867b93019035e9bdbac72c03095c3...,2,0,0,0,0,0,1,0,2019123123