In [10]:
import pandas as pd
import numpy as np
import os
import requests

## Sprawdzanie po trans_formed

In [167]:
import os
os.getcwd()

'c:\\Users\\Tomek\\Desktop\\PW MINI IAD\\Semestr 6\\Hurtownie\\ChicagoCrashesETL'

In [15]:
df_vehicles = pd.read_pickle('./airflow-postgres-docker/data/tmp/extracted/vehicles.pkl')
df_crashes = pd.read_pickle('./airflow-postgres-docker/data/tmp/extracted/crashes.pkl')

In [11]:
fact_crash = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/fact_crash.pkl')
dim_vehicles = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_vehicle.pkl')
dim_crash_info = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_crash_info.pkl')
fact_weather = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/fact_weather.pkl')
dim_people = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_people.pkl')
dim_date = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_date.pkl')
dim_location = pd.read_pickle('./airflow-postgres-docker/data/tmp/transformed/dim_location.pkl')

In [17]:
# sum(dim_vehicles[''].isna())
sum(df_crashes['CRASH_RECORD_ID'].duplicated())

0

In [14]:
sum(fact_crash['FACT_CRASH_KEY'].duplicated())

146504

In [19]:
# sum(dim_vehicles[["CRASH_RECORD_ID", "VEHICLE_ID"]].duplicated())
fact_crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264002 entries, 0 to 264001
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   FACT_CRASH_KEY                 264002 non-null  uint64
 1   CRASH_RECORD_ID                264002 non-null  object
 2   NUM_UNITS                      264002 non-null  Int64
 3   INJURIES_TOTAL                 264002 non-null  Int64
 4   INJURIES_FATAL                 264002 non-null  Int64
 5   INJURIES_INCAPACITATING        264002 non-null  Int64
 6   INJURIES_NON_INCAPACITATING    264002 non-null  Int64
 7   INJURIES_REPORTED_NOT_EVIDENT  264002 non-null  Int64
 8   INJURIES_NO_INDICATION         264002 non-null  Int64
 9   INJURIES_UNKNOWN               264002 non-null  Int64
 10  date_id                        264002 non-null  int64
 11  CRASH_INFO_KEY                 264002 non-null  uint64
 12  LOCATION_KEY                   264002 non-null  uint64
 13  PERSON_ID                      264002 non-null  string
 14  VEHICLE_ID                     264002 non-null  float64
dtypes: Int64(8), float64(1), int64(1), object(1), string(1), uint64(3)
memory usage: 32.2+ MB

In [22]:
fact_crash[fact_crash['VEHICLE_ID'] == 750401]

,FACT_CRASH_KEY,CRASH_RECORD_ID,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,date_id,CRASH_INFO_KEY,LOCATION_KEY,PERSON_ID,VEHICLE_ID
0,3729645821298575012,004cd14d0303a9163aad69a2d7f341b7da2a8572b2ab33...,2,1,1,0,0,0,1,0,2019112609,7017221841570418401,13985346965653409630,O790106,750401.0

In [23]:
dim_vehicles[dim_vehicles['VEHICLE_ID'] == 750401]

,CRASH_UNIT_ID,CRASH_RECORD_ID,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,MAKE,MODEL,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT,VEHICLE_KEY
217314,790106,004cd14d0303a9163aad69a2d7f341b7da2a8572b2ab33...,DRIVER,-1,750401.0,FORD,UNKNOWN,-1,NONE,TRUCK - SINGLE UNIT,CONSTRUCTION/MAINTENANCE,W,STRAIGHT AHEAD,2,OTHER,12005604321252382575